<article class="comment">
  <a class="comment-img" href="#non">
    <img src="{{comment.photo}}" alt="" width="50" height="50">
  </a>
  <div class="comment-body">
    <div class="text">
      <p>{{comment.text}}</p>
    </div>
    <p class="attribution">by <a href="#non">{{comment.name}}</a> at 14:23pm, 4th Dec 2010</p>
  </div>
</article>
