
<section class="comments">
    {{#each model as |comment|}}
        {{comment-component comment=comment}}
    {{/each}}
</section>
{{input value=text enter="update" placeholder='Enter Comment'}}
{{outlet}}
